---
import MainLayout from '@/layouts/MainLayout.astro';
import AppShell from '@/components/svelte/AppShell.svelte';
---

<MainLayout>
	<AppShell client:load>
		<main class="grid h-full place-items-center">
			<p class="text-2xl font-bold tracking-wide text-content/20">
				Selecciona un archivo
			</p>
		</main>
	</AppShell>
</MainLayout>
